@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #fafafa;
  --foreground: #505050;

  --color-primary: var(--color-blue-400);
  --color-primary-subtle: var(--color-blue-100);
  --color-border: var(--color-mauve-200);

}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-sans);
}
